.gamemenu-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#type-game {
    height: 80vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vmin;
    font-family: "Ubuntu Sans Mono", monospace;
    color: azure;
}

#quote {
    font-family: "Ubuntu Sans Mono", monospace;
    color: azure;
}

#play-again {
    width: 10vmin;
}