#type-game {
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu Sans Mono", monospace;
    color: azure;
}

#quote {
    font-family: "Ubuntu Sans Mono", monospace;
    color: azure;
}