.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-input {
    font-family: "Ubuntu Sans Mono", monospace;
}

.email-input {
    font-family: "Ubuntu Sans Mono", monospace;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-btn {
    font-family: "Ubuntu Sans Mono", monospace;
    background-color: rgba(0, 0, 0, 0.945);
    color: azure;
}